
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="w3-container">
    <div style="display:flex; align-items:center; justify-content:center;flex-direction:column; margin:0 auto;">
        <h1>SAYIN <span style="color:#000000;">@Session["USERNAME"].ToString() </span> </h1>
        <br />
        <h1>TATİL SEYAHAT YÖNETİM PANELİNE HOŞGELDİNİZ</h1>
    </div>
</div>

