
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page Content -->
<div style="margin-left:10%">

    <div class="w3-container w3-teal">
        <h1>Admin Panel Yönetim Kısmı</h1>
    </div>
    <div class="w3-container">

    </div>

</div>

