@model Asp.Net.MVC5_TatilSeyehatSitesi.Models.TBLABOUT
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/image/@Model.IMAGE" alt="Tatil Seyahat" />
            <p>@Model.DESCRIPTION</p>
        </div>
    </div>
</div>

