
<form method="post">
    <input type="hidden" name="BlogID" value="@ViewBag.BlogID" required />
    <input type="text" placeholder="Ad Soyad" name="USERNAME" required />
    <input type="text" placeholder="Mail" name="MAIL" required />
    <textarea placeholder="Mesaj" name="COMMENT"></textarea>
    <input type="submit" value="Gönder" />
</form>